@charset "UTF-8";

* {
    font-family: Arial;
    font-family: 'Press Start 2P', cursive;
	color: rgb(252, 252, 252);
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    border: 0;
    overflow: hidden;
    cursor: url(./../assets/cohete1.png), auto;
    
}
#webglcanvas {
	border:none;
	
}

#divInfo {
    position: absolute;
    width: 100%;
    text-align: center;
}

#title {
    font-size:45px;
}

#blocker {
    position: absolute;
    width: 100%;
    height: 100%;
}
#instructions {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    color: #ffffff;
    text-align: center;
    font-family: Arial;
    font-size: 14px;
    line-height: 24px;
}

#idStart:hover {
    text-decoration: underline;
}


